*.env

*.json
*.pyc
server/node_modules/

# Ignore all __pycache__ folders and their contents recursively
server-python/services/__pycache__/

# Ignore everything in uploads folder
server-python/uploads/

# Ignore everything in uploads/temp folder
server-python/uploads/temp/
